@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:400,700');

* {
    padding: 0;
    margin: 0;
}

/*
Primary-color 0000FF Blue
Dark-shade


*/

.bg-blue {
    color: #007bff;
}

#wrapper {
    min-height: 100vh;
    background-color: #e9ecef;
}

.bg-picture {
    background-image: url("../img/books-bg.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat ;
}

.landing {
    text-align: center;
    padding-top: 100px;
}

.landing h1{
text-shadow: 2px 2px 2px #111;
    font-size: 5rem;
    font-weight: 900;
    color: white;
}

.allCaps {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.main-content {
    margin-top: 5rem;
    min-height: 100vh;
}


.list-group-item {
    border: 1px solid #bebebe;
    margin-bottom: 1rem;
}
textarea {
  resize: none;
}

footer {
    background: #007bff;
    width: 100%;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
}
